# Игнорируем системные файлы
**/.git
**/.vscode
**/.idea

# Игнорируем билд-артефакты
**/build
**/bin
**/obj

# Игнорируем сгенерированные файлы
**/*.log
**/*.html
**/*.xml
**/compile_commands.json
**/*.o
**/*.a

# Игнорируем зависимости и кэш
**/node_modules
**/venv
**/__pycache__

